.user {
  position: absolute;
  top: 26px;
  left: 34px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-lightskyblue);
}
.dashboard,
.vector-icon {
  position: absolute;
  top: 22.22%;
}
.dashboard {
  left: 35.76%;
  font-weight: 500;
}
.vector-icon {
  height: 55.56%;
  width: 16.56%;
  right: 77.48%;
  bottom: 22.22%;
  left: 5.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent {
  position: absolute;
  top: 113px;
  left: 0;
  background-color: var(--color-lightskyblue);
  width: 151px;
  height: 45px;
}
.results {
  position: absolute;
  top: 22.22%;
  left: 36.42%;
  font-weight: 500;
}
.vector-icon1 {
  position: absolute;
  height: 46.67%;
  width: 11.26%;
  top: 26.67%;
  right: 80.13%;
  bottom: 26.67%;
  left: 8.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-group {
  position: absolute;
  top: 249px;
  left: 0;
  background-color: var(--color-lightskyblue);
  width: 151px;
  height: 45px;
}
.welcome {
  position: absolute;
  top: 39px;
  left: 199px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  color: var(--color-black);
}
.image-10-icon {
  position: absolute;
  height: 60%;
  width: 21.85%;
  top: 20%;
  right: 74.17%;
  bottom: 20%;
  left: 3.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-container {
  position: absolute;
  top: 181px;
  left: 0;
  background-color: var(--color-lightskyblue);
  width: 151px;
  height: 45px;
}
.frame-child,
.frame-child1,
.frame-inner,
.frame-item,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 2460px;
  height: 75px;
}
.frame-child1,
.frame-inner,
.frame-item,
.rectangle-div {
  top: 75px;
  left: 0;
  width: 2461px;
  height: 54px;
}
.frame-child1,
.frame-inner,
.rectangle-div {
  top: 129px;
}
.frame-child1,
.rectangle-div {
  top: 183px;
}
.frame-child1 {
  top: 237px;
}
.applied-events,
.edit {
  position: absolute;
  font-weight: 500;
}
.applied-events {
  top: 22px;
  left: 23px;
  font-size: var(--font-size-5xl);
  line-height: 130%;
}
.edit {
  top: 94px;
  left: 1280px;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray);
  display: inline-block;
  width: 33px;
  height: 24px;
}
.event-date,
.event-name,
.sno {
  position: absolute;
  top: 93px;
  left: 8px;
  line-height: 130%;
  font-weight: 500;
}
.event-date,
.event-name {
  left: 62px;
}
.event-date {
  left: 160px;
}
.domain,
.event-organizer,
.event-type,
.registration-deadline {
  position: absolute;
  top: 93px;
  left: 250px;
  line-height: 130%;
  font-weight: 500;
}
.domain,
.event-organizer,
.event-type {
  left: 418px;
}
.domain,
.event-type {
  left: 550px;
}
.event-type {
  left: 624px;
}
.brochure-details,
.competition-name,
.event-category,
.event-location {
  position: absolute;
  top: 93px;
  left: 716px;
  line-height: 130%;
  font-weight: 500;
}
.brochure-details,
.competition-name,
.event-location {
  left: 845px;
}
.brochure-details,
.competition-name {
  left: 970px;
}
.brochure-details {
  left: 1113px;
}
.applicant-department,
.applicant-name,
.applicant-roll-no,
.applied-by {
  position: absolute;
  top: 93px;
  left: 1252px;
  line-height: 130%;
  font-weight: 500;
}
.applicant-department,
.applicant-name,
.applicant-roll-no {
  left: 1341px;
}
.applicant-department,
.applicant-roll-no {
  left: 1468px;
}
.applicant-department {
  left: 1610px;
}
.applicant-mail-id,
.applicant-ph-no,
.applicant-year-of,
.event-status {
  position: absolute;
  top: 93px;
  left: 1780px;
  line-height: 130%;
  font-weight: 500;
}
.applicant-mail-id,
.applicant-ph-no,
.event-status {
  left: 1962px;
}
.applicant-ph-no,
.event-status {
  left: 2175px;
}
.event-status {
  left: 2305px;
}
.div,
.div1,
.div2,
.hr,
.offline,
.sahaa-2024,
.skct,
.software {
  position: absolute;
  top: 148px;
  left: 8px;
  line-height: 130%;
  font-weight: 500;
  color: var(--color-snow);
}
.div1,
.div2,
.hr,
.offline,
.sahaa-2024,
.skct,
.software {
  left: 62px;
}
.div1,
.div2,
.hr,
.offline,
.skct,
.software {
  left: 418px;
}
.div1,
.div2,
.hr,
.offline,
.software {
  left: 250px;
}
.div2,
.hr,
.offline,
.software {
  left: 160px;
}
.hr,
.offline,
.software {
  top: 147px;
  left: 550px;
}
.hr,
.offline {
  left: 624px;
}
.hr {
  left: 716px;
}
.coimbatore,
.div3,
.ii,
.it,
.it241,
.link,
.man-of-the,
.salmaan-a,
.salmaanit22bitsathyacin,
.student {
  position: absolute;
  top: 147px;
  left: 970px;
  line-height: 130%;
  font-weight: 500;
  color: var(--color-snow);
}
.coimbatore,
.div3,
.ii,
.it,
.it241,
.link,
.salmaan-a,
.salmaanit22bitsathyacin,
.student {
  left: 845px;
}
.div3,
.ii,
.it,
.it241,
.link,
.salmaan-a,
.salmaanit22bitsathyacin,
.student {
  left: 1113px;
}
.div3,
.ii,
.it,
.it241,
.salmaan-a,
.salmaanit22bitsathyacin,
.student {
  left: 1252px;
}
.div3,
.ii,
.it,
.it241,
.salmaan-a,
.salmaanit22bitsathyacin {
  left: 1341px;
}
.div3,
.ii,
.it,
.it241,
.salmaanit22bitsathyacin {
  left: 1468px;
}
.div3,
.ii,
.it,
.salmaanit22bitsathyacin {
  left: 1610px;
}
.div3,
.ii,
.salmaanit22bitsathyacin {
  left: 1780px;
}
.div3,
.salmaanit22bitsathyacin {
  left: 1962px;
}
.div3 {
  left: 2175px;
}
.under-progress {
  position: relative;
  line-height: 130%;
}
.under-progress-wrapper {
  position: absolute;
  top: 140px;
  left: 2299px;
  border-radius: 5px;
  background-color: var(--color-lightskyblue);
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 122px;
  height: 33px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px var(--padding-8xs);
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray);
}
.vector-icon2 {
  position: absolute;
  height: 6.87%;
  width: 1.47%;
  top: 9.28%;
  right: 1.47%;
  bottom: 83.85%;
  left: 97.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-div {
  position: absolute;
  top: 181px;
  left: 171px;
  width: 1361px;
  height: 291px;
  overflow-x: auto;
  font-size: var(--font-size-xs);
  color: var(--color-lightgray);
}
.logout {
  position: absolute;
  top: 22.22%;
  left: 42.38%;
  font-weight: 500;
}
.image-8-icon {
  position: absolute;
  height: 48.89%;
  width: 13.91%;
  top: 24.44%;
  right: 78.15%;
  bottom: 26.67%;
  left: 7.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-parent1 {
  position: absolute;
  top: 385px;
  left: 0;
  background-color: var(--color-lightskyblue);
  width: 151px;
  height: 45px;
}
.vector-icon3 {
  position: absolute;
  height: 53.33%;
  width: 15.89%;
  top: 26.67%;
  right: 77.48%;
  bottom: 20%;
  left: 6.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent2 {
  position: absolute;
  top: 317px;
  left: 0;
  background-color: var(--color-lightskyblue);
  width: 151px;
  height: 45px;
}
.status-page-std {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 769px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
