
{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static  'css/global.css' %}" />
<link rel="stylesheet" href="{% static 'css/Root.css' %}" />
<img class="image-9-icon" alt="" src="{% static 'image/image-9@2x.png' %}" />
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Root.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="rectangle-root">
      <div class="frame-child8"></div>
      <div class="registration-successful">Registration Successful</div>
    </div>
  </body>
</html>
